.contenedorInfo{
    background: rgb(6,0,125);
    background: linear-gradient(90deg, rgba(6,0,125,1) 28%, rgba(0,39,255,1) 28%, rgba(0,228,255,1) 100%);
    border: solid rgb(0, 0, 0);
    border-top-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-radius: 15px;
    width: 1000px;
    height: 833.6px;
    background-color: rgb(255, 255, 255);

    float: left;

}
.contenedorTuristico{
    display: block;
    float: right;
    background: rgb(6,0,125);
    background: linear-gradient(90deg, rgba(6,0,125,1) 28%, rgba(0,39,255,1) 28%, rgba(0,228,255,1) 100%);
    border-top-width: 8px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-radius: 25px;
    width: 340px;
    height: 270px;
    margin-right: 10px;
    margin-top: 10px;
}

.tituloInfo{
    display: block;
    margin-right: 730px;
    font-size: 30px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.continenteInfo{
    display: block;
    margin-right: 730px;
    font-size: 20px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.subinfo{
    display: block;
    margin-right: 730px;
    font-size: 23px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.imageninfo{
    display: flex;
    float: right;
    margin-top: 250px;
    width: 450px;
    height: 300px;
    margin-right: 130px;


    
    


}
.areaunfo{
    display: block;
    margin-right: 730px;
    font-size: 20px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.poblacioninfo{
    display: block;
    margin-right: 730px;
    font-size: 20px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}
.botoninfo{
    display: block;
    margin-left: 98px;

    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: solid;
    border-radius:50px;
    background-color:#bf97ff;


}
.ID{
    display: block;
    margin-right: 730px;
    font-size: 20px;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 70px;
}

.nameActividad{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.crearActividad1{
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border-style: solid;
    border-radius:50px;
 
    background-color:#bf97ff;
}