.paginado{
    display: flex;
    margin-right: 10px;
    background-color: #12123a;
    width: 75%;
    margin: 0;
    margin-left: 385px;
    justify-content: space-evenly;

}


.pag:hover{
    cursor: pointer;

}